In [1]:
import pandas as pd

In [2]:
base = pd.read_excel("funcionarios.xlsx")

In [3]:
base.head()

,Unnamed: 0,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior,linguagem
0,0,1,0,0,0,0,0,R
1,1,6,0,0,1,0,1,Rubi
2,2,3,1,0,0,1,0,Python
3,3,2,0,0,1,0,0,Java
4,4,4,0,1,0,1,0,Java

In [4]:
del base['Unnamed: 0']

In [5]:
base

,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior,linguagem
0,1,0,0,0,0,0,R
1,6,0,0,1,0,1,Rubi
2,3,1,0,0,1,0,Python
3,2,0,0,1,0,0,Java
4,4,0,1,0,1,0,Java
5,2,0,0,1,1,0,PHP
6,3,0,0,0,1,0,Python
7,2,1,0,0,1,0,Python
8,10,0,0,1,0,1,PHP
9,5,0,1,0,1,0,C#

In [6]:
X = base.iloc[:,:-1]
y = base.iloc[:,-1]

In [7]:
X

,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior
0,1,0,0,0,0,0
1,6,0,0,1,0,1
2,3,1,0,0,1,0
3,2,0,0,1,0,0
4,4,0,1,0,1,0
5,2,0,0,1,1,0
6,3,0,0,0,1,0
7,2,1,0,0,1,0
8,10,0,0,1,0,1
9,5,0,1,0,1,0

In [8]:
y

0         R
1      Rubi
2    Python
3      Java
4      Java
5       PHP
6    Python
7    Python
8       PHP
9        C#
Name: linguagem, dtype: object

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
tree = DecisionTreeClassifier()

In [11]:
tree.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [12]:
amostra = base.sample()

In [13]:
amostra

,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior,linguagem
0,1,0,0,0,0,0,R

In [14]:
tree.predict(amostra.iloc[:,:-1])

array(['R'], dtype=object)

In [15]:
tree.predict([[2,0,0,1,1,0]])

array(['PHP'], dtype=object)

In [16]:
from sklearn.tree import export_graphviz

In [17]:
arquivo = open("arvore.dot", "w")

In [19]:
X.columns

Index(['tempo (anos)', 'departamento_ciencia de dados',
       'departamento_programacao', 'departamento_web', 'nivel_pleno',
       'nivel_senior'],
      dtype='object')

In [20]:
base.linguagem.unique()

array(['R', 'Rubi', 'Python', 'Java', 'PHP', 'C#'], dtype=object)

In [21]:
export_graphviz(tree, out_file=arquivo, 
                feature_names=X.columns,
               class_names=base.linguagem.unique())

In [22]:
arquivo.close()