In [1]:
import pandas as pd

In [2]:
base = pd.read_excel("jogadores.xlsx")

In [3]:
base.shape

(14, 8)

In [4]:
base.head()

,Unnamed: 0,Aspecto_Nublado,Aspecto_Sol,Temperatura_Frio,Temperatura_Quente,Umidade_Normal,Vento_Sim,Total de jogadores
0,0,0,1,0,1,0,0,25
1,1,0,1,0,1,0,1,30
2,2,1,0,0,1,0,0,46
3,3,0,0,0,0,0,0,45
4,4,0,0,1,0,1,0,52

In [5]:
del base['Unnamed: 0']

In [6]:
X = base.iloc[:,:-1]
y = base.iloc[:,-1]

In [7]:
X.head()

,Aspecto_Nublado,Aspecto_Sol,Temperatura_Frio,Temperatura_Quente,Umidade_Normal,Vento_Sim
0,0,1,0,1,0,0
1,0,1,0,1,0,1
2,1,0,0,1,0,0
3,0,0,0,0,0,0
4,0,0,1,0,1,0

In [8]:
y.head()

0    25
1    30
2    46
3    45
4    52
Name: Total de jogadores, dtype: int64

In [9]:
from sklearn.tree import DecisionTreeRegressor

In [10]:
tree = DecisionTreeRegressor(min_samples_leaf=2)

In [11]:
tree.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=2,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [12]:
amostra = base.sample()

In [13]:
amostra

,Aspecto_Nublado,Aspecto_Sol,Temperatura_Frio,Temperatura_Quente,Umidade_Normal,Vento_Sim,Total de jogadores
3,0,0,0,0,0,0,45

In [14]:
tree.predict(amostra.iloc[:,:-1])

array([47.66666667])

In [15]:
tree.predict([[1,0,1,0,1,1]])

array([43.5])

In [16]:
from sklearn.tree import export_graphviz

In [17]:
arquivo = open("arvore_regressao.dot", "w")

In [18]:
export_graphviz(tree, out_file=arquivo,
               feature_names=X.columns)

In [19]:
arquivo.close()