In [1]:
import pandas as pd

In [2]:
base = pd.read_excel("funcionarios.xlsx")

In [3]:
base.shape

(10, 8)

In [4]:
base.head()

,Unnamed: 0,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior,linguagem
0,0,1,0,0,0,0,0,R
1,1,6,0,0,1,0,1,Rubi
2,2,3,1,0,0,1,0,Python
3,3,2,0,0,1,0,0,Java
4,4,4,0,1,0,1,0,Java

In [5]:
del base['Unnamed: 0']

In [6]:
base.head()

,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior,linguagem
0,1,0,0,0,0,0,R
1,6,0,0,1,0,1,Rubi
2,3,1,0,0,1,0,Python
3,2,0,0,1,0,0,Java
4,4,0,1,0,1,0,Java

In [7]:
X = base.iloc[:, :-1]

In [8]:
X

,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior
0,1,0,0,0,0,0
1,6,0,0,1,0,1
2,3,1,0,0,1,0
3,2,0,0,1,0,0
4,4,0,1,0,1,0
5,2,0,0,1,1,0
6,3,0,0,0,1,0
7,2,1,0,0,1,0
8,10,0,0,1,0,1
9,5,0,1,0,1,0

In [9]:
y = base.iloc[:,-1]

In [10]:
y

0         R
1      Rubi
2    Python
3      Java
4      Java
5       PHP
6    Python
7    Python
8       PHP
9        C#
Name: linguagem, dtype: object

In [11]:
from sklearn.neighbors import KNeighborsClassifier

In [12]:
knn = KNeighborsClassifier(n_neighbors=3)

In [13]:
knn.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [14]:
amostra = base.sample()

In [15]:
amostra

,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior,linguagem
5,2,0,0,1,1,0,PHP

In [16]:
amostra.iloc[:, :-1]

,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior
5,2,0,0,1,1,0

In [17]:
knn.predict(amostra.iloc[:, :-1])

array(['Java'], dtype=object)

In [18]:
knn.predict([[2,1,0,0,1,0]])

array(['Python'], dtype=object)

In [19]:
base

,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior,linguagem
0,1,0,0,0,0,0,R
1,6,0,0,1,0,1,Rubi
2,3,1,0,0,1,0,Python
3,2,0,0,1,0,0,Java
4,4,0,1,0,1,0,Java
5,2,0,0,1,1,0,PHP
6,3,0,0,0,1,0,Python
7,2,1,0,0,1,0,Python
8,10,0,0,1,0,1,PHP
9,5,0,1,0,1,0,C#